@media screen and (min-width: 1024px) {
  .stalker {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: normal;
  z-index: 9999;
  opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .stalker{
  display: none !important;
  }
}
